.modal-content.login-modal {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    overflow: hidden;
}

.login-image {
    background-image: url("photos/photo5.jpg");
    background-size: cover;
    background-position: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1) brightness(1.5);
}
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    opacity: 1;
}
.carousel-control-prev,
.carousel-control-next {
    z-index: 10;
}
#bookCarousel .carousel-control-prev {
    left: 450px;
}

#bookCarousel .carousel-control-next {
    right: 450px;
}

